@page
@model FysioDanmark_Project_Website.AllServicesModel
@{
    ViewData["Title"] = "AllServices";
}

<h1> All Services </h1>
<table class="table">
    <thead>
        <tr>
            <th>Title </th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    @if(Model.AllServices.Count!=0)
        {        
        @foreach (var item in Model.AllServices)
        {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <img src="~/Services/@item.ImageName" width="80" height="70">
            </td>
            <td>
                <a asp-page="/Bookings/ShoppingCart" asp-route-id="@item.Id"
                       class="btn btn-success btn-group-lg pull-right"  >
                        Add To Cart
                </a>
            </td>          
        </tr>
        }
        }
    </tbody>
</table>

