@page
@model FysioDanmark_Project_Website.ManageServices


<title>Manage Services</title>
<h1>Manage Services</h1>
<p>
    <a asp-page="CreateService">Create New Service</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Title </th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @if(Model.AllServices.Count!=0)
    {        
        @foreach (var item in Model.AllServices)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="@item.Id" name="id">
                        <button type="submit" style="color: indianred; background: none; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Delete</button>
                    </form>
                </td> 
                <td>
                    <a asp-page="/BookingServices/UpdateServices" asp-route-id="@item.Id">
                        Update
                    </a>
                    </td>
            </tr>
        }
    }
    </tbody>
</table>